
<!-- single checkbox example-->
<fieldset class="form-field">
  <input id="form-checkbox-id01" type="checkbox" name="form-checkbox-id01" class="form-checkbox"/>
  <label for="form-checkbox-id01" aria-describedby="form-checkbox-id01-help" class="form-label">Checkbox label</label>
  <p id="form-checkbox-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- single checkbox example-->
<fieldset class="form-field">
  <input id="form-toggle-id01" type="checkbox" name="form-toggle-id01" class="form-toggle"/>
  <label for="form-toggle-id01" aria-describedby="form-toggle-id01-help" class="form-label">Toggle label</label>
  <p id="form-toggle-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- several checkboxes example-->
<fieldset class="form-field">
  <legend aria-describedby="form-legend-help" class="form-legend">Legend grouping label</legend>
  <input id="form-checkbox-id01" type="checkbox" name="form-checkbox-id01" class="form-checkbox"/>
  <label for="form-checkbox-id01" class="form-label">Checkbox 01 label</label>
  <input id="form-radio-id02" type="checkbox" name="form-checkbox-id02" class="form-checkbox"/>
  <label for="form-checkbox-id02" class="form-label">Checkbox 02 label</label>
  <p id="form-legend-help" class="form-help">Complementary and clarification to all radios</p>
</fieldset>
<!-- two radio example-->
<fieldset class="form-field">
  <legend aria-describedby="form-legend-help" class="form-legend">Legend grouping label</legend>
  <input id="form-radio-id01" type="radio" name="form-radio-id01" class="form-radio"/>
  <label for="form-radio-id01" class="form-label">Radio 01 label</label>
  <input id="form-radio-id02" type="radio" name="form-radio-id02" class="form-radio"/>
  <label for="form-radio-id02" class="form-label">Radio 02 label</label>
  <p id="form-legend-help" class="form-help">Complementary and clarification to all radios</p>
</fieldset>
<!-- text input-->
<fieldset class="form-field">
  <label for="form-text-id01" aria-describedby="form-text-id01-help" class="form-label">Text label <span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="text" name="form-text-id01" required="required" placeholder="Placeholder" class="form-text"/>
  <p id="form-text-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- textarea-->
<fieldset class="form-field">
  <label for="form-textarea-id01" aria-describedby="form-textarea-id01-help" class="form-label">Textarea label </label>
  <textarea id="form-textarea-id01" name="form-textarea-id01" placeholder="Placeholder" class="form-textarea"></textarea>
  <p id="form-textarea-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- password input-->
<fieldset class="form-field">
  <label for="form-password-id01" aria-describedby="form-password-id01-help" class="form-label">PSW label</label>
  <input id="form-text-id01" type="password" name="form-password-id01" placeholder="Placeholder" class="form-password"/>
  <p id="form-text-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- email input-->
<fieldset class="form-field">
  <label for="form-email-id01" aria-describedby="form-email-id01-help" class="form-label">Email label</label>
  <input id="form-text-id01" type="email" name="form-email-id01" placeholder="Placeholder" class="form-email"/>
  <p id="form-email-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- password input-->
<fieldset class="form-field">
  <label for="form-number-id01" aria-describedby="form-number-id01-help" class="form-label">Number label</label>
  <input id="form-text-id01" type="number" name="form-number-id01" placeholder="Placeholder" class="form-number"/>
  <p id="form-number-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- file input-->
<fieldset class="form-field">
  <label for="form-file-id01" aria-describedby="form-file-id01-help" class="form-select">Browse label</label>
  <input id="form-text-id01" type="file" name="form-file-id01" class="form-file"/>
  <p id="form-file-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>
<!-- select input-->
<fieldset class="form-field">
  <label for="form-select-id01" aria-describedby="form-select-id01-help" class="form-label">Select label</label>
  <select id="form-text-id01" class="form-select">
    <optgroup label="2 elements">
      <option value="1">First</option>
      <option value="2">Second</option>
    </optgroup>
    <optgroup label="Last element"> 
      <option value="3">Last    </option>
    </optgroup>
  </select>
  <p id="form-number-id01-help" class="form-help">Complementary and clarification to the label</p>
</fieldset>