$link-color: #007eb1;
$fieldset-background: #f2f5f6;
$fieldset-border: #c7d5d8;
$fieldset-color: #517776;
$label-border: #edf1f2;
$input-normal: #b8c6c8;
$input-active: #007eb1;
$input-hover: #878f93;
$input-valid: #069182;
$input-invalid: #d01157;
$input-placeholder-color: #878f93;
$input-form-help-color: #878f93;
