body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

header {
  float: right;
  margin: 20px; }
  header a {
    padding: 10px; }

main {
  padding-top: 20px; }

.container {
  width: 960px;
  margin: 0 auto; }

.logo {
  height: 50px;
  vertical-align: middle; }

.App-header {
  background-color: #f2f5f6;
  height: 70px;
  padding: 10px;
  color: #333; }
  .App-header h2 {
    display: inline-block;
    margin-left: 20px;
    font-weight: 300; }
  .App-header ul li {
    display: inline-block; }

.App-intro {
  font-size: large; }
