
<!-- single checkbox example-->
<div class="form-group">
  <input id="form-checkbox-id01" type="checkbox" name="form-checkbox-id01" required="required" class="form-checkbox"/>
  <label for="form-checkbox-id01" aria-describedby="form-checkbox-id01-help" class="form-label">Checkbox label<span class="form-required">(required)</span></label>
  <p id="form-checkbox-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- single toggle example-->
<div class="form-group">
  <label for="form-toggle-id01" aria-describedby="form-toggle-id01-help" class="form-label">Toggle label</label>
  <input id="form-toggle-id01" type="checkbox" name="form-toggle-id01" class="form-toggle"/>
  <p id="form-toggle-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- single range example-->
<div class="form-group">
  <label for="form-range-id01" aria-describedby="form-range-id01-help" class="form-label">Range label</label>
  <input id="form-range-id01" type="range" name="form-range-id01" min="0" max="100" step="1" value="88" oninput="form-range-id01-output.value = form-range-id01.value" class="form-range"/>
  <output id="form-range-id01-output" for="form-range-id01" name="form-range-id01-output" class="form-output">88</output>
  <p id="form-range-id01-help" class="form-help">Complementary and <a href="#">clarification</a> to the label</p>
  <ul class="form-help">
    <li>One item</li>
    <li>Two items</li>
    <li>Three items</li>
  </ul>
</div>
<!-- several checkboxes example-->
<div class="form-group">
  <legend aria-describedby="form-legend-help" class="form-legend">Legend grouping label</legend>
  <input id="form-checkbox-id01" type="checkbox" name="form-checkbox-id01" class="form-checkbox"/>
  <label for="form-checkbox-id01" class="form-label">Checkbox 01 label</label>
  <input id="form-radio-id02" type="checkbox" name="form-checkbox-id02" class="form-checkbox"/>
  <label for="form-checkbox-id02" class="form-label">Checkbox 02 label</label>
  <p id="form-legend-help" class="form-help">Complementary and clarification to all radios</p>
</div>
<!-- two radio example-->
<div class="form-group">
  <legend aria-describedby="form-legend-help" class="form-legend">Legend grouping label</legend>
  <input id="form-radio-id01" type="radio" name="form-radio-id01" class="form-radio"/>
  <label for="form-radio-id01" class="form-label">Radio 01 label</label>
  <input id="form-radio-id02" type="radio" name="form-radio-id02" class="form-radio"/>
  <label for="form-radio-id02" class="form-label">Radio 02 label</label>
  <p id="form-legend-help" class="form-help">Complementary and clarification to all radios</p>
</div>
<!-- text input-->
<div class="form-group">
  <label for="form-text-id01" aria-describedby="form-text-id01-help" class="form-label">Text label <span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="text" name="form-text-id01" required="required" placeholder="Placeholder" class="form-text"/>
  <p id="form-text-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- textarea-->
<div class="form-group">
  <label for="form-textarea-id01" aria-describedby="form-textarea-id01-help" class="form-label">Textarea label<span class="form-required">(required)</span></label>
  <textarea id="form-textarea-id01" name="form-textarea-id01" required="required" placeholder="Placeholder" class="form-textarea"></textarea>
  <p id="form-textarea-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- password input-->
<div class="form-group">
  <label for="form-password-id01" aria-describedby="form-password-id01-help" class="form-label">PSW label<span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="password" name="form-password-id01" required="required" placeholder="Placeholder" class="form-password"/>
  <p id="form-text-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- email input-->
<div class="form-group">
  <label for="form-email-id01" aria-describedby="form-email-id01-help" class="form-label">Email label<span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="email" name="form-email-id01" required="required" placeholder="Placeholder" class="form-email"/>
  <p id="form-email-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- password input-->
<div class="form-group">
  <label for="form-number-id01" aria-describedby="form-number-id01-help" class="form-label">Number label<span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="number" name="form-number-id01" required="required" placeholder="Placeholder" class="form-number"/>
  <p id="form-number-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- file input-->
<div class="form-group">
  <label for="form-file-id01" aria-describedby="form-file-id01-help" class="form-select">Browse label<span class="form-required">(required)</span></label>
  <input id="form-text-id01" type="file" name="form-file-id01" required="required" class="form-file"/>
  <p id="form-file-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- select input-->
<div class="form-group">
  <label for="form-select-id01" aria-describedby="form-select-id01-help" class="form-label">Select label<span class="form-required">(required)</span></label>
  <select id="form-text-id01" required="required" class="form-select">
    <optgroup label="2 elements">
      <option value="1">First</option>
      <option value="2">Second</option>
    </optgroup>
    <optgroup label="Last element"> 
      <option value="3">Last    </option>
    </optgroup>
  </select>
  <p id="form-number-id01-help" class="form-help">Complementary and clarification to the label</p>
</div>
<!-- button-->
<div class="form-group">
  <button type="button" class="button">button</button>
</div>
<div class="form-group">
  <button type="button" class="button">button</button>
</div>
<div class="form-group">
  <button type="button" class="button">button</button>
</div>
<!-- links-->
<div class="form-group"><a href="#" role="button" class="button">link button</a></div>
<!-- inputs-->
<div class="form-group">
  <input type="reset" value="reset" class="button"/>
</div>
<div class="form-group">
  <input type="submit" value="submit" class="button"/>
</div>
<div class="form-group">
  <input type="button" value="button" class="button"/>
</div>
<!-- subclasses-->
<div class="form-group">
  <button type="button" class="button">secondary</button>
</div>
<div class="form-group">
  <button type="submit" class="button primary">primary</button>
</div>
<div class="form-group">
  <button type="reset" class="button destructive">destructive</button>
</div>
<div class="form-group">
  <div role="group" aria-label="Label of the group" class="button-group">
    <button type="reset" class="button destructive">Cancel</button>
    <button type="button" class="button">Almost</button>
    <button type="button" class="button primary">Done</button>
  </div>
</div>
<div class="form-group">
  <div role="group" aria-label="Label of the group" class="button-group">
    <button type="button" aria-label="Description of SVG" class="button button-icon destructive">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" role="presentation" focusable="false">
       <g fill-rule="evenodd">
         <polygon points="25 27 27 27 27 25 25 25"/>
         <polygon points="21 27 23 27 23 25 21 25"/>
         <path d="M7,13 L29,13 L29,7 L7,7 L7,13 Z M7,21 L29,21 L29,15 L7,15 L7,21 Z M7,29 L29,29 L29,23 L7,23 L7,29 Z M5,5 L5,13 L5,15 L5,21 L5,23 L5,31 L31,31 L31,23 L31,21 L31,15 L31,13 L31,5 L5,5 Z"/>
         <polygon points="25 11 27 11 27 9 25 9"/>
         <polygon points="21 11 23 11 23 9 21 9"/>
         <polygon points="25 19 27 19 27 17 25 17"/>
         <polygon points="21 19 23 19 23 17 21 17"/>
       </g>
      </svg>
    </button>
    <button type="button" aria-label="Description of SVG" class="button button-icon primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" role="presentation" focusable="false">
       <g fill-rule="evenodd">
         <polygon points="25 27 27 27 27 25 25 25"/>
         <polygon points="21 27 23 27 23 25 21 25"/>
         <path d="M7,13 L29,13 L29,7 L7,7 L7,13 Z M7,21 L29,21 L29,15 L7,15 L7,21 Z M7,29 L29,29 L29,23 L7,23 L7,29 Z M5,5 L5,13 L5,15 L5,21 L5,23 L5,31 L31,31 L31,23 L31,21 L31,15 L31,13 L31,5 L5,5 Z"/>
         <polygon points="25 11 27 11 27 9 25 9"/>
         <polygon points="21 11 23 11 23 9 21 9"/>
         <polygon points="25 19 27 19 27 17 25 17"/>
         <polygon points="21 19 23 19 23 17 21 17"/>
       </g>
      </svg>
    </button>
  </div>
</div>