//- CHECKBOXES AND RADIOS

// single checkbox example
fieldset.form-field
  input.form-checkbox#form-checkbox-id01(type="checkbox", name="form-checkbox-id01", required)
  label.form-label(for="form-checkbox-id01", aria-describedby="form-checkbox-id01-help") Checkbox label
    span.form-required (required)
  p.form-help#form-checkbox-id01-help Complementary and clarification to the label

// single toggle example
fieldset.form-field
  input.form-toggle#form-toggle-id01(type="checkbox", name="form-toggle-id01")
  label.form-label(for="form-toggle-id01", aria-describedby="form-toggle-id01-help") Toggle label
  p.form-help#form-toggle-id01-help Complementary and clarification to the label

// single range example
fieldset.form-field
  label.form-label(for="form-range-id01", aria-describedby="form-range-id01-help") Toggle label
  input.form-range#form-range-id01(type="range", name="form-range-id01", min="0", max="100", step="1", value="88", oninput="form-range-id01-output.value = form-range-id01.value")
  output.form-output#form-range-id01-output(for="form-range-id01", name="form-range-id01-output") 88
  p.form-help#form-toggle-id01-help Complementary and clarification to the label


// several checkboxes example
fieldset.form-field
  legend.form-legend(aria-describedby="form-legend-help") Legend grouping label
  input.form-checkbox#form-checkbox-id01(type="checkbox", name="form-checkbox-id01")
  label.form-label(for="form-checkbox-id01") Checkbox 01 label
  input.form-checkbox#form-radio-id02(type="checkbox", name="form-checkbox-id02")
  label.form-label(for="form-checkbox-id02") Checkbox 02 label
  p.form-help#form-legend-help Complementary and clarification to all radios

// two radio example
fieldset.form-field
  legend.form-legend(aria-describedby="form-legend-help") Legend grouping label
  input.form-radio#form-radio-id01(type="radio", name="form-radio-id01")
  label.form-label(for="form-radio-id01") Radio 01 label
  input.form-radio#form-radio-id02(type="radio", name="form-radio-id02")
  label.form-label(for="form-radio-id02") Radio 02 label
  p.form-help#form-legend-help Complementary and clarification to all radios






//- INPUTS

// text input
fieldset.form-field
  label.form-label(for="form-text-id01", aria-describedby="form-text-id01-help") Text label 
    span.form-required (required)
  input.form-text#form-text-id01(type="text", name="form-text-id01", required, placeholder="Placeholder")
  p.form-help#form-text-id01-help Complementary and clarification to the label

// textarea
fieldset.form-field
  label.form-label(for="form-textarea-id01", aria-describedby="form-textarea-id01-help") Textarea label
    span.form-required (required)
  textarea.form-textarea#form-textarea-id01(name="form-textarea-id01", required, placeholder="Placeholder")
  p.form-help#form-textarea-id01-help Complementary and clarification to the label

// password input
fieldset.form-field
  label.form-label(for="form-password-id01", aria-describedby="form-password-id01-help") PSW label
    span.form-required (required)
  input.form-password#form-text-id01(type="password", name="form-password-id01", required, placeholder="Placeholder")
  p.form-help#form-text-id01-help Complementary and clarification to the label

// email input
fieldset.form-field
  label.form-label(for="form-email-id01", aria-describedby="form-email-id01-help") Email label
    span.form-required (required)
  input.form-email#form-text-id01(type="email", name="form-email-id01", required, placeholder="Placeholder")
  p.form-help#form-email-id01-help Complementary and clarification to the label

// password input
fieldset.form-field
  label.form-label(for="form-number-id01", aria-describedby="form-number-id01-help") Number label
    span.form-required (required)
  input.form-number#form-text-id01(type="number", name="form-number-id01", required, placeholder="Placeholder")
  p.form-help#form-number-id01-help Complementary and clarification to the label

// file input
fieldset.form-field
  label.form-select(for="form-file-id01", aria-describedby="form-file-id01-help") Browse label
    span.form-required (required)
  input.form-file#form-text-id01(type="file", name="form-file-id01", required)
  p.form-help#form-file-id01-help Complementary and clarification to the label


// select input
fieldset.form-field
  label.form-label(for="form-select-id01", aria-describedby="form-select-id01-help") Select label
    span.form-required (required)
  select.form-select#form-text-id01(required)
    optgroup(label="2 elements")
      option(value="1") First
      option(value="2") Second
    optgroup(label="Last element")  
      option(value="3") Last    
  p.form-help#form-number-id01-help Complementary and clarification to the label
